body {
  background-color: rgb(235, 227, 232);
  font-family: inherit;
  margin: 0 0 0 0
}

.main-timeline {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 100%;
}

.header {
  padding: 0 8px;
  background-color: #3a5daa;
  border-bottom: 1px solid #29487d;
  color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 42px;
}

.logo {
  width: 25px;
}

.search-input {
  height: 24px;
  width: 400px;
  margin-left: 8px;
  border: 1px solid #3a5daa;
  border-radius: 3px;
  position: relative;
}

.fa-search {     transform: translate(-100%, -1px); }
.fa-search:before {
  background-color: #ffe3e1;
  color: black;
  font-size: 12px;
  padding: 7px;
  position: relative;
  border-radius: 3px;
    }

.header-profile-image {
  border-radius: 70%;
  margin: 0 0 0 20%;
  height: auto;
  max-width: 30px;
  max-height: 30px;
  width: 5%;
}

.header-user-name {
  color: white;
  background-color: #3a5daa;
  border: 1px solid #3a5daa;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  margin: 0 30px 0 0;
}

.header-home {
  color: white;
  background-color: #3a5daa;
  border: 1px solid #3a5daa;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  margin: 0 0 0 5px;
}

.search-box {
  display: flex;
  align-items: center;
  margin: 0 0 0 12%;
}

.timeline-post {
  margin: 0 0 0 0;
}

.timeline-about-friends {
  margin: 0 0 0 0;
}

.addpost {
  width: 500px;
  background-color: white;
  border: 1px solid white;
  margin: 0 0 17px 0;
  position: relative;
  z-index: 5;
}

.addpost-title {
  font-size: 12px;
  font-weight: bold;
  color: #525252;
  background-color: #f8f2f8;
  padding: 7px 10px 0 9px;
  height: 28px;
  border: 1px solid #f0eaf0;
  margin: -1px -1px 0px -1px;
}

.addpost-notion {
  font-size: 15px;
  padding: 15px 0 10px 13px;
}

.profile-image {
  border-radius: 70%;
  height: auto;
  max-width: 45px;
  max-height: 45px;
  width: 10%
}

.addpost-whatdoyouthink {
  font-weight: bold;
  color: rgb(41, 41, 172);
  font-size: 15px;
  position: relative;
  left: 7px;
  bottom: 13px;
}

.addpost-expressthinking {
  font-size: 13px;
  position: relative;
  left: 65px;
}

.addpost-textarea {
  position: relative;
  left: 65px;
  top: 5px;
  width: 366px;
  height: 80px;
  margin: 0 0 -7px 0;
}

.fileupload {
  font-size: 25px;
  position: relative;
  left: 65px;
}

.addpost-upload-image {
  width: 15%;
}

.addpost-submit {
  background-color: white;
  border: 1px solid;
  font-weight: bold;
  border-radius: 4px;
  position: relative;
  left: 400px;
  bottom: 10px;
}

.showpost {
  width: 500px;
  background-color: white;
  border: 1px solid white;
  margin: 0 0 17px 0;
}

.showpost-feed {
  font-size: 12px;
  font-weight: bold;
  color: #525252;
  background-color: white;
  padding: 0px 5px 0px 5px;
  height: 28px;
  border-bottom: 1.5px solid #f0eaf0;
  margin: -1px -1px -1px -1px;
  padding: 7px 10px 0 9px;
}

.showpost-writer {
  font-size: 15px;
  padding: 15px 0 10px 13px;
}

.showpost-name {
  font-weight: bold;
}

.showpost-edit {
  position: relative;
  z-index: 1;
  left: 359px;
  bottom: 33px;
  background-color: #f6f6f6;
  border: 1px solid white;
  width: 40px;
}

.showpost-edit-box {
  position: relative;
  left: 334px;
  bottom: 22px;
}

.showpost-edit-complete {
  position: relative;
  z-index: 2;
  left: 294.5px;
  bottom: 83px;
  background-color: #f6f6f6;
  border: 1px solid white;
  width: 40px;
}

.showpost-remove {
  position: relative;
  left: 319px;
  bottom: 10px;
  background-color: #f6f6f6;
  border: 1px solid white;
  width: 40px;
}

.showpost-contents {
  padding: 0 12px 20px 20px;
  font-size: 14px;
}

.goodbar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.showpost-goodbar1 {
  font-size: 12px;
  color: blue;
  position: relative;
  left: 10px
}

.showpost-goodbar2 {
  font-size: 12px;
  position: relative;
  left: 150px;
}

.showpost-button-good {
  width: 166.6px;
  background-color: white;
  border-left: none;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  position: relative;
  bottom: 23px;
}

.comment {
  position: relative;
  bottom: 16px;
}

.comment-word {
  font-size: 12px;
  padding: 0 10px 0 10px;
}

.comment-input-box {
  width: 300px;
  margin: 0 4px 0 0;
}

.comment-button {
  background-color: white;
  border: 1px solid gray;
  font-size: 12px;
  position: relative;
  height: 22px;
  top: 1px;
  border-radius: 2px;
}

.comment-contents {
  font-size: 13px;
  position: relative;
  left: 10px;
}

.comment-statement {
  background-color: #f0f0f0;
  height: 26px;
  border-radius: 10px;
  width: max-content;
  position: relative;
  bottom: 20px;
  left: 23px;
  padding: 0 30px 0 0;
}

.comment-profile-image {
  border-radius: 70%;
  height: auto;
  max-width: 45px;
  max-height: 45px;
  position: relative;
  top: 5px;
}

.comment-writer {
  position: relative;
  left: 8px;
  top: 2px;
  font-weight: bold;
}

.comment-colon {
  position: relative;
  padding: 0 0 0 2px;
  left: 10px;
  top: 4px;
}

.comment-saying {
  position: relative;
  left: 20px;
  width: max-content;
  top: 4px;
}

.comment-thumb {
  font-size: 9px;
  background-color: white;
  border: 1px solid gray;
  padding: 0 3px 0 3px;
  position: relative;
  bottom: 22px;
  left: 31px;
}

.comment-thumb-count {
  font-size: 9px;
  position: relative;
  bottom: 22px;
  left: 33px;
}

.child-contents{
  position: relative;
  bottom: 19px;
  background-color: #f8e3e7;
  width: max-content;
  padding: 0 10px 0 0;
  margin: 0 0 3px 0;
  border-radius: 6px;
  left: 41px;
}

.comment-each {
  margin: 0 0 -12px 0;
}

.child-comment {
  position: relative;
  bottom: 22px;
  left: 41px;
}

.child-comment-input-box {
  width: 200px;
  height: 14px;
}

.child-comment-button {
  font-size: 12px;
  background-color: white;
  border: 1px solid gray;
  margin: 0 0 0 4px;
  border-radius: 2px;
  position: relative;
  top: 1.2px;
}

.hidden {
  display: none;
}

/*************************************************/

.mypage-grid {
  display: grid;
  grid-template-rows: 300px 1fr;
  grid-template-columns: 100%;
}

.mypage-cover-top {
  background-color: #1e1e1e;
  height: 190px;
  margin: 42px 20% 0 20%;
  justify-content: center;
}

.mypage-cover-bottom {
  background-color: white;
  height: 50px;
  margin: 0 20% 0 20%;
  justify-content: center;
}

.mypage-cover-profile-image {
  border-radius: 70%;
  height: auto;
  max-height: 170px;
  position: relative;
  left: 23px;
  top: 55px;
}

.mypage-cover-username {
  color: white;
  font-size: 27px;
  font-weight: bold;
  position: relative;
  left: 50px;
  top: 5px;
}

.mypage-cover-word-timeline {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid white;
  color: #5455ff;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: relative;
  left: 263px;
  height: 50px;
  padding: 0 20px 0 20px;
}

.mypage-cover-word-information {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid white;
  color: #5455ff;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: relative;
  left: 262px;
  height: 50px;
  padding: 0 20px 0 20px;
}

.mypage-cover-word-friends {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid white;
  color: #5455ff;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: relative;
  left: 261px;
  height: 50px;
  padding: 0 20px 0 20px;
}

.mypage-cover-word-scrap {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid white;
  color: #5455ff;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: relative;
  left: 260px;
  height: 50px;
  padding: 0 20px 0 20px;
}

.mypage-timeline-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  margin: 0px 20% 0 17%;
}

.mypage-side-banner {
  display: flex;
  background-color: white;
  margin-left: auto;
  margin-right: 14px;
  width: 358.5px;
  float: right;
  height: max-content;
  padding: 20px;
}

.fa-globe-americas {
  font-size: 20px;
  color: #536aff;
  padding: 0 10px 10px 0;
}

.mypage-side-banner-introduce {
  font-size: 16px;
}

.mypage-side-banner-utter {
  border-bottom: 1px solid skyblue;
  font-size: 13px;
  padding: 10px 0 10px 0;
}

.mypage-user-information {
  margin: 50px 0 0 0;
}


/*************************************************/

.login {
  width: 200px;
  border: 2px solid rgb(140, 140, 196);
  padding: 10px 0px 10px 10px;
}

.login-id-box {
  width: 100px;
  margin: 0 0 0 20px;
}

.login-pw-box {
  width: 100px;
  margin: 0 0 0 5.5px;
}

.login-button {
  margin: 5px 0 0 120px;
}

.join-new {
  width: 412px;
  border: 2px solid rgb(140, 140, 196);
  padding: 10px 0px 10px 10px;
}

.join-title {
  font-size: 22px;
  margin: 0 0 10px 0;
  font-weight: bold;
  padding: 10px 0 10px;
}

.join-router {
  margin: 0 0 0 290px;
  border: 1px solid blue;
  background-color: rgb(243, 234, 234);
  border-top: none;
  border-left: none;
  border-right: none;
}

.join-new-name {
  width: 65px;
  margin: 0 0 0 70px;
}
.join-new-id {
  width: 100px;
  margin: 0 0 0 55.5px;
}
.join-new-pw {
  width: 100px;
  margin: 0 0 0 40.5px;
}

.join-new-button {
  margin: 5px 0 0 360.5px;
  border: 1px solid blue;
  background-color: rgb(243, 234, 234);
}

.joining-round {
  border: 2px solid rgb(140, 140, 196);
  width: 401px;
  padding: 20px 10px 10px 10px;
}

.joining-complete {
  margin: 20px 0 0 309.7px;
  border: 1px solid blue;
  background-color: rgb(243, 234, 234);
}



.scrap-border {
  width: 420px;
  border: 2px solid rgb(235, 106, 106);
  padding: 0px 1px 0px 0;
  margin: 5px 0 0 0;
}

.scrap {
  width: 380px;
  border: 2px solid rgb(189, 189, 218);
  padding: 0px 1px 0px 0;
  margin: 10px 0 10px 18px;
}

.scrap-feed {
  font-size: 13px;
  background-color: rgb(241, 168, 168);
  padding: 0px 5px 0px 5px;
  height: 20px;
}

.others-friend-add {
  margin: 0 0 10px 373px;
  background-color: rgb(227, 227, 236);
  border: 1px solid rgb(37, 37, 145);
}

.others-friend-already {
  background-color: rgb(227, 227, 236);
  border: 1px solid rgb(37, 37, 145);
  margin: 0 0 10px 0;
}

.other-friend-contents {
  font-weight: bold;
  margin: 0 0 0 184px;
}

.friends-recommendation {
  margin: 0 0 0 70px;
}

.no-post {
  font-size: 30px;
  font-weight: bold;
  color: rgb(63, 63, 216);
}
