h1 {
  color: white;
  background-color:  rgb(65, 65, 194);
  width: 404px;
  padding: 10px 10px 10px 10px;
}

body {
  background-color: rgb(243, 234, 234);
}

.post {
  width: 420px;
  border: 2px solid rgb(189, 189, 218);
  border-bottom: 0;
  padding: 0px 1px 0px 0;
  margin: 5px 0 0 0;
}

.post-feed {
  font-size: 11px;
  background-color: rgb(214, 214, 235);
  padding: 0px 5px 0px 5px;
  height: 20px;
}

.post-writer {
  color: rgb(50, 50, 192);
  font-weight: bold;
}

.post-name {
  margin: 0 0 0 5px;
}

.post-contents {
  padding: 0 12px 20px 20px;
  font-size: 14px;
}

.post-goodbar1 {
  font-size: 12px;
  color: blue;
}
.post-goodbar2 {
  padding: 0 0 0 275px;
  font-size: 12px;
}
.post-goodbar3 {
  font-size: 12px;
  padding: 0 0 0 10px;
}

.post-button-good {
  width: 140px;
  background-color: rgb(214, 214, 235);
  border: 1px solid rgb(189, 189, 218);
}

.addpost {
  font-size: 13px;
  width: 420px;
  border: 2px solid rgb(140, 140, 196);
  padding: 0 1px 5px 0;
  margin: 0 0 17px 0;
}

.addpost-title {
  font-size: 11px;
  font-weight: bold;
  background-color: rgb(214, 214, 235);
  padding: 0px 5px 0px 5px;
  height: 20px;
}

.addpost-span {
  font-weight: bold;
  color: rgb(41, 41, 172);
  font-size: 15px;
}

.addpost-notion {
  font-size: 15px;
  padding: 0 0 10px 5px; 
}

.addpost-inputcontents {
  width: 360px;
  height: 40px;
  margin: 0 0 7px 43px;
}

.addpost-out {
  margin: 0 0 0 366px;
}

.image {
  margin: 5px 0px 0px 5px;
}

.comment {
  width: 420px;
  border: 2px solid rgb(189, 189, 218);
  border-bottom: 1px;
  padding: 0px 1px 0px 0;
  margin: -7px 0 0 0;
}

.comment-datgle {
  font-size: 12px;
}

.comment-write {
  padding: 6px 0 0 5px;
}

.comment-input {
  height: 22px;
  padding: 0 0 5px 0;
  margin: 0 0 0 5px;
}

.comment-contents {
  padding: 6px 0 0 5px;
  font-size: 13px;
}

.comment-thumb {
  font-size: 9px;
  margin: 0 0 5px 10px;
  background-color: rgb(214, 214, 235);
  border: 1px solid rgb(189, 189, 218);
  padding: 0 0 0 0;
}

.comment-thumb-count {
  font-size: 9px;
  margin: 0 0 0 1px;
}

.comment-contents {
  width: 415px;
  border: 2px solid rgb(189, 189, 218);
  border-top: 0px;
  padding: 3px 1px 0px 5px;
  margin: -3px 0 0 0;
}

.login {
  width: 200px;
  border: 2px solid rgb(140, 140, 196);
  padding: 10px 0px 10px 10px;
}

.login-id-box {
  width: 100px;
  margin: 0 0 0 20px;
}

.login-pw-box {
  width: 100px;
  margin: 0 0 0 5.5px;
}

.login-button {
  margin: 5px 0 0 120px;
}

.join-new {
  width: 240px;
  border: 2px solid blue;
  padding: 10px 0px 10px 10px;
  margin: 10px 0 0 167px;
}

.join-title {
  color: blue;
  font-size: 22px;
  margin: 0 0 10px 0;
}

.join-router {
  margin: 0 0 0 290px
}

.join-new-name {
  width: 65px;
  margin: 0 0 0 34.5px;
}
.join-new-id {
  width: 100px;
  margin: 0 0 0 19.5px;
}
.join-new-pw {
  width: 100px;
  margin: 0 0 0 5px;
}

.join-new-button {
  margin: 5px 0 0 180.5px;
}

